@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>
    This software may be used, reproduced, and provided to others only as permitted under the terms of the contract or other
    agreement under which it was acquired from <em>Isaac Yep's</em> <a href="https://github.com/anthonybench" target="_blank">GitHub</a>. Neither title to nor ownership of the software is hereby
    transferred. This Notice shall remain on all copies of the software.
    <br /><br />
</p>
<div style="display: flex; justify-content: space-between;">
    <p>
        Your Company Name © – August 6th, 2020 <br />
        <a href="https://www.linkedin.com/in/anthonybench/" target="_balnk">anthonybench</a> <br />
        COTS Software Inventory Management <br />
        Author: <em>Isaac Anthony Bench Yep</em> <br />
    </p>
    <br />
</div>
<div>
    <img src="~/img/basic-otter.png" alt="Isaac's Sleepy Otter" />
</div>
