@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>
    This software may be used, reproduced, and provided to others only as permitted under the terms of the contract or other
    agreement under which it was acquired from the U.S. Government. Neither title to nor ownership of the software is hereby
    transferred.  This Notice shall remain on all copies of the software.
    <br /><br />
</p>
<div style="display: flex; justify-content: space-between;">
    <p>
        NASA © Software – August 6th, 2020 <br />
        E&TD <br />
        NPR 7150.2c <br />
        Developer: Isaac Yep [EA-31] <br />
    </p>
    <img src="~/img/chevron-logo.png" alt="NASA MeatBall logo" height="341" width="408" />
</div>
